.ce-buttonsLayout {
    display: flex;
    gap: 20%;
    justify-content: center;
    padding-bottom: 10px;
}

.createCitationBtn {
    height: 40px;
    width: 150px;
    background-color: #cecdcd50;
    align-self: self-end;
}

.copyBtn {
    height: 40px;
    margin-left: 50px;
    background-color: #cecdcd50;
    align-self: flex-end;
}
.citations-editor > ul {
    margin-left: 20px;
    margin-right: 10%;
}

.layoutOptions {
    display: flex;
    gap: 15px;
}

.citations-editor > ul > li {
    text-align: left;
    margin-top: 5px;
}

.citeEntry {
    width: 900px;
}

@media screen and (max-width: 1110px) {
    .ce-buttonsLayout {
        margin-left: 60px;
        flex-direction: column;
    }

    .createCitationBtn {
        align-self: auto;
    }
}

@media screen and (max-width: 1335px) {
    .citeEntry {
        width: auto;
    }
}