#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

li {
  list-style: none;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 320px 3fr;
  align-items: start;
}

.citation-lists-wrapper {
  position: sticky;
  text-align: left;
  top: 2rem;
  height: calc(100vh - 2rem);
  overflow: auto;

  min-width: 320px;
  max-width: 320px;

  padding: 1rem;
  border-right: 1px solid rgba(3, 3, 3, 0.24);
}

.main-content {
  min-width: 0;
  padding-top: 1rem;
  margin-left: 1rem;
}
